.base {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

// align-items
.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: end;
}

.alignCenter {
  align-items: center;
}

.alignBaseline {
  align-items: baseline;
}

.alignStretch {
  align-items: stretch;
}

// justify-content
.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: end;
}

.justifyCenter {
  justify-content: center;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

.justifyEvenly {
  justify-content: space-evenly;
}

// flex-wrap
.wrap {
  flex-wrap: wrap;
}

.wrapReverse {
  flex-wrap: wrap-reverse;
}

// flex-direction
.directionRow {
  flex-direction: row;
}

.directionRowReverse {
  flex-direction: row-reverse;
}

.directionColumn {
  flex-direction: column;
}

.directionColumnReverse {
  flex-direction: column-reverse;
}

// gap
.spaceS {
  gap: 0.5rem;
}

.spaceM {
  gap: 1rem;
}

.spaceL {
  gap: 2rem;
}

.spaceNone {
  gap: 0;
}

.paddingS {
  padding: var(--box-padding-small);
}

.paddingM {
  padding: var(--box-padding-medium);
}

.paddingL {
  padding: var(--box-padding-large);
}

.widthAuto {
  width: unset;
}

.widthFull {
  width: 100%;
}

.radiusNone {
  border-radius: inherit;
}

.radiusS {
  border-radius: var(--box-radius-small);
}
.radiusM {
  border-radius: var(--box-radius-medium);
}
.radiusL {
  border-radius: var(--box-radius-large);
}
