.title[class] {
  color: var(--color-white--100);
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.description {
  overflow: hidden;
}

.link {
  display: block;
  border-radius: var(--box-radius-small);
  &:hover {
    background-color: var(--link-hover-background-color);
  }

  &.active {
    background-color: var(--link-active-background-color);
  }
}

.infiniteScroll {
  width: 100%;
}
