/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer primitives {
  :root {
    --color-black-100: 0, 0%, 0%;
    --color-black-200: #121212;
    --color-black-300: #1a1a1a;
    --color-black-400: #2a2a2a;
    --color-black-500: #6a6a6a;

    --color-white-100: #ffffff;
    --color-white-200: #b3b3b3;

    --color-green-100: #12833a;
    --color-green-200: #169c46;
    --color-green-300: #17a449;
    --color-green-400: #1ed760;

    --space-100: 0.25rem;
    --space-200: 0.5rem;
    --space-300: 0.75rem;
    --space-400: 1rem;
    --space-500: 1.5rem;
    --space-600: 2rem;
  }
}

@layer sematic {
  :root {
    --text-body-color: var(--color-black-200);

    --box-spacing-xsmall: var(--space-100);
    --box-spacing-small: var(--space-200);
    --box-spacing-medium: var(--space-300);
    --box-spacing-large: var(--space-400);
    --box-spacing-xlarge: var(--space-500);

    --box-radius-small: 0.5rem;
    --box-radius-medium: 1rem;
    --box-radius-large: 1.5rem;

    --box-padding-small: var(--space-200);
    --box-padding-medium: var(--space-300);
    --box-padding-large: var(--space-400);
    --box-padding-xlarge: var(--space-500);

    --link-hover-background-color: var(--color-black-300);
    --link-active-background-color: var(--color-black-400);
  }

  .dark {
    --text-body-color: var(--color-black-500);
  }
}
