.sidebarMain,
.sidebarSub {
  width: 100%;
  background-color: var(--box-background-color-foreground);
  border-radius: var(--box-radius-small);
}

.sidebarSub {
  height: 112px;
}

.sidebarMain {
  height: calc(100lvh - 112px - var(--box-padding-small) * 3);
  padding: var(--box-padding-small);
  overflow: scroll;
}
