.wrapper {
  z-index: var(--elevation-sticky);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.nav {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  li {
    position: relative;
    list-style: none;

    a {
      color: #333;
      text-decoration: none;
    }

    &:not(:last-child)::after {
      position: absolute;
      top: 0;
      right: -0.5rem;
      display: block;
      width: 1px;
      height: 1rem;
      content: '';
      background-color: #ccc;
    }
  }
}
