.wrapper {
  > button {
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: #000;
    &:hover {
      background-color: #000;
    }
  }
}

.arrowIcon {
  width: 1rem;
  height: 1rem;
  fill: var(--color-white-100);
}
