.wrapper {
  min-height: 100dvh;
}

.main {
  width: 100%;
  min-height: calc(100dvh - var(--box-padding-large));
  padding: var(--box-padding-2xlarge);
  background-color: var(--box-background-color-foreground);
  border-radius: var(--box-radius-small);
}

.sidebar {
  width: 420px;
}

.content {
  margin-top: -64px;
}
